src/__pycache__/
alternate/__pycache__/

covid-vaccine-slot-booking.spec
vaccine-booking-details.json
captcha.png
captcha.svg
captcha.gif

src/covid-vaccine-slot-booking.spec
src/vaccine-booking-details.json
src/captcha.png
src/captcha.svg
src/captcha.gif

alternate/covid-vaccine-slot-booking.spec
alternate/vaccine-booking-details.json
alternate/captcha.png
alternate/captcha.svg
alternate/captcha.gif